html   {
    height: 100%
}

body{
    background-color: rgba(43, 23, 169, 0.91) ;
}

.titulo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 30px ;
    font-size: 220% ;
}

.texto {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 80px ;
    font-size: 180% 
}

.video{
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    max-width: 800px;
}

.video-todo{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 80% 
}

.sobre{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 30px ;
    font-size: 75% ;
}

